<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Admin Panel</title>
</head>
<body style="padding: 50px;">
    <h1>Saare Messages ki List</h1>
    <table border="1" style="width:100%; text-align:left; border-collapse: collapse;">
        <tr style="background-color: #333; color: white;">
            <th>ID</th>
            <th>Naam</th>
            <th>Message (Email/Paigam)</th>
        </tr>
        
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <th>Action</th>
            <td>
                <a href="/delete/{{ user[0] }}" style="color: red; text-decoration: none;">❌ Delete</a>
            </td>
        </tr>
        
        {% endfor %}
    </table>
    <br>
    <a href="/">Wapas Home par Jayein</a>
</body>


</html>

